.container
	.well
		form.form-horizontal(name="wordDetailsForm")
			fieldset
				legend Word Details
				.form-group
					label.col-md-2.control-label Word
					.col-md-6
						input.form-control(name="word", type="text", placeholder="Word", ng-model="word.word", required)
				.form-group
					label.col-md-2.control-label Root Language
					.col-md-6
						select.form-control(ng-model="rootLanguage", ng-options="option as item.name for item in languages")
							option(value="")
				.form-group
					label.col-md-2.control-label Synopsis
					.col-md-6
						input.form-control(name="synopsis", type="text", placeholder="Synopsis", ng-model="word.synopsis")
				.form-group
					label.col-md-2.control-label History
					.col-md-6
						input.form-control(name="history", type="text", placeholder="History", ng-model="word.history")

				.form-group
					.col-md-6.col
						.pull-right
							button.btn.btn-primary(ng-click="update()", ng-disabled="wordDetailsForm.$invalid") Submit
							| 
							a.btn.btn-default(href="/admin/words") Cancel
	table.table.table-hover.table-striped
		thead
			tr
				th #
				th Language
				th Category
		tr(ng-repeat="language in languages")
			td {{language._id}}
			td {{language.name}}
			td {{language.languageCategory}}