extend ../includes/layout

block main-content
	.navbar.navbar-fixed.top
		.container
			.navbar
				ul.nav.navbar-nav
					li.dropdown
						a.dropdown-toggle(data-toggle="dropdown" href="#") Home 
							b.caret
						ul.dropdown-menu
							li
								a(href="/") Somewhere
				div(ng-include="'/partials/auth/navbar-login'")

	section.content
		div(ng-view)

	footer.container.text-center.navbar.navbar-fixed-bottom
		p &copy; 2014 Eto