extend ../includes/layout

block main-content
	.navbar.navbar-fixed.top
		.container
			.navbar
				a.navbar-brand(href="/") Eto
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li.dropdown-open
							a.dropdown-toggle(href="/") Home
							a(href="/") Somewhere
	section.content
		div(ng-view)
	h2= mongoMessage

	footer.container.text-center.navbar.navbar-fixed-bottom
		p &copy; 2014 Eto