.container
	.well
		h3.text-center.animated(fade-out="currentWordIndex !== 1") select the root language of

		div.game-score.pull-right Current Score: {{gameScore}}

		div.game-active-word-container.text-center
			div.game-active-word 
				strong {{activeWord.word}}

		div.answer-container
			div.animated.roots-container.root-cards-animation(ng-hide="wordIsAnswered")
				div.col-sm-4.root-container(ng-repeat="root in possibleLanguages")
					.text-center.root-card(flip="root.rootIsSelected")
						.card.front
							button.game-root-language-container.border.front(ng-click="selectRoot(root)") {{root.name}}
						.card.back
							button.game-root-language-container.border(ng-class="root.isRoot ? 'btn-success' : 'btn-danger'")
			div.animated.etymology-container.root-etymology-animation.text-center(ng-show="wordIsAnswered", fade-out="wordIsLoading")
				em.well-etymology {{activeWord.synopsis}}

		div word {{currentWordIndex}} of {{words.length}}
			button.btn.btn-info.pull-right(ng-click="nextGameWord()", ng-disabled="false") next word